@import "tailwindcss";

:root {
  color: white;
}

@theme {
  --color-bg: rgb(7, 7, 33); /* DARK BLUE COLOR FOR BACKGROUND*/
  --color-accent: rgb(13, 13, 40); /* LIGHTER BG COLOR FOR CREATING CONTRAST*/
  --color-primary: rgb(49, 115, 250); /* NICE BLUE COLOR FOR BUTTONS AND SUCH*/
  --color-secondary: rgb(25, 25, 55); /* DARKER BLUE/PURPLE COLOR */
  --color-win: rgb(30, 43, 94); /* GREEN COLOR FOR MATCH HISTORY WIN*/
  --color-lose: rgb(59, 33, 60); /* RED COLOR FOR MATCH HISTORY LOSE*/
  --color-subtle: rgb(
    195,
    210,
    244
  ); /*Subtle color for making text more subtle*/
}
